<div class="container">
  <h1><%= current_user.username %></h1>
  <%= render partial: "links/form", locals: { link: Link.new } %>
  <hr />
  <div id="links" 
    data-controller="sortable" 
    data-sortable-resource-name-value="link"
    data-sortable-handle-value=".link_handle">
    <% @links.each do |link| %>
      <%= render partial: "links/admin_link", locals: { link: link } %>
    <% end %>
  </div>
</div>
