<div class="row link"
data-sortable-update-url="<%= link_position_path(link) %>">
  <div class="col-2">Position: [<%= link.position%>] </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link.name %></h5>
        <a href="<%= link.url %>" class="btn btn-primary">Go to link</a>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
