.borderless {
    border: none !important;
    border-radius: 0px !important;
}

.form-switch-fixer {
    padding-top: 51.25% !important;
}

.link-centered {
    margin: auto !important;
}

.custom-switch-center .form-check-input {
    padding: 0;
    margin-top: 13px; /* Adjust based on your needs */
  }
  