.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}